* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    height: 500px;
    color: white;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 20px;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
}

.header .hero {
    display: flex;
    justify-content: center;
    align-items: center;

}

img {
    width: 450px;
    height: 300px;
}

h1 {
    font-size: 48px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin: 32px;
}


.navbar ul {
    display: flex;
    list-style: none;
    gap: 16px;
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    /* border: 2px solid red; */
    padding: 10px;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    padding: 10px;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.left-header p {
    font-size: 18px;
    width: 400px;
    margin-right: 80px;
}

button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.content-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    max-width: 150px;
    text-align: center;
}

.item p {
    font-size: 16px;
}

.item img {
        width: 150px;
        height: 140px;
        border: 3px solid #3882f6;
}

.section-one {
    margin-bottom: 90px;
}

.section-two {
    background-color: #e5e7eb;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
}

.section-two > div {
    width: 550px;
    font-size: 26px;
}


#quote-name {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
} 

.section-three {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-three > .sect-3-item {
    width: 70%;
    background-color: #3882f6;
    padding: 25px 50px;
    border-radius: 5px;
}

.sect-3-item {
    display: flex;
    justify-content: space-around;
}

.sect-3-info {
    color: #e5e7eb;
}

#call-info {
    font-size: 20px;
    font-weight: 800;
}

.sect-3-item > button {
    border: 2px solid white;
}

footer {
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}